body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.page-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: red;
  color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.page-header__nav {
  height: 50px;
  margin-top: 2rem;
}

.secondary-navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 34px;
  background: #f5f5f5;
  opacity: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

section {
  height: 50vh;
  width: 100%;
  background: gold;
}

footer {
  height: 80vh;
  width: 100%;
  background: blue;
}

.navi__item {
  color: black;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: auto;
}

.navi__item > img {
  width: 12px;
  height: 12px;
  margin-right: 0.5rem;
}

.navi__item > span {
  font-size: 0.2rem;
  font: normal normal normal 11px/12px Helvetica;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
}

/* Desk-top version */
/* Styling fählt !!! Nur Mobile */

@media screen and (min-width: 780px) {
  .navi__item > img {
    width: 64px;
    height: 64px;
    margin-right: 0.5rem;
  }
}
